@font-face {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    src:
    url('./Fonts/mulish-v11-latin-regular.woff2') format('woff2'),
    url('./Fonts/mulish-v11-latin-regular.woff') format('woff'),
}
@font-face {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    src:
    url('./Fonts/mulish-v11-latin-600.woff2') format('woff2'),
    url('./Fonts/mulish-v11-latin-600.woff') format('woff'),
}

@font-face {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    src:
    url('./Fonts/mulish-v11-latin-700.woff2') format('woff2'),
    url('./Fonts/mulish-v11-latin-700.woff') format('woff'),
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body{
    font-family: Mulish, sans-serif;
    overflow: hidden;
}

.dashboard{
    display: flex;
}
.overview{
    height: 100vh;
    width: calc(79% + 4px);
    padding-left:30px;
    padding-right: 33px;
    background: #F7F8FC;
    overflow-y: scroll  ;
}

.tickets{
    height: 100vh;
    width: calc(79% + 4px);
    padding-left:30px;
    padding-right: 33px;
    background: #F7F8FC;
    overflow-y: scroll  ;
}
.top {
    padding-top: 35px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}